@using HospitalManagement.Domain.Dto
@namespace HospitalManagement.Components.Hospital

<EditForm Model="@HospitalData">
    <div class="form-group">
        <div class="row">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalName">Hospital name</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalName" placeholder="Hospital name" @bind-Value="HospitalData.Name" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalDescription">Hospital description</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalDescription" placeholder="Hospital description" @bind-Value="HospitalData.Description" />
            </div>
        </div>
        <hr />
        <div class="row mt-2">
            <label class="font-weight-bold"><b>Address</b></label>
        </div>
        <div class="row mt-2">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalZipcode">Zip Code:</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalZipcode" placeholder="Hospital zipcode" @bind-Value="HospitalData.Address.ZipCode" />

            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalState">State:</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalState" placeholder="Hospital state" @bind-Value="HospitalData.Address.State" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalCity">Zip City:</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalCity" placeholder="Hospital city" @bind-Value="HospitalData.Address.City" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-sm-5 mt-auto mb-auto">
                <label for="inputHospitalAddressLine1">Address Line 1:</label>
            </div>
            <div class="col col-sm-6 mt-auto mb-auto">
                <InputText readonly="@ReadOnly" class="form-control" id="inputHospitalAddressLine1" placeholder="Address Line 1" @bind-Value="HospitalData.Address.AddressLine1" />
            </div>
        </div>
    </div>   
</EditForm>


@code {
    [Parameter]
    public HospitalData? HospitalData { get; set; }
    
    [Parameter]
    public bool ReadOnly { get; set; }
}